body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}


.logo {
  height: 15vmin;
  pointer-events: none;
  display: block;
  margin: 15px 87.5px 15px;
  opacity: .9;
  /*border: 1px solid black;*/
}


.App-logo {
  height: 25vmin;
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vmin;
  margin-bottom: 5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
